/* main colors */
$color-primary: #2BAAA5;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark:  darken($color-primary, 20%);
$color-primary-bg:    rgba($color-primary, 20%);

/* accent colors */
$color-accent: #A9A9A9;
$color-accent-light: lighten($color-accent, 15%);
$color-accent-dark:  darken($color-accent, 10%);
$color-accent-bg:    rgba($color-accent, 20%);

/* header - footer */
$color-header-footer: $color-accent;

/* shades - generated using chroma.js - 12 steps */
$black:   #1d1d21;
$gray-10: #2e2e31;
$gray-8: #555457;
$gray-6:  #7b7a7d;
$gray-4:  #a5a5a6;
$gray-3:  #bbbbbc;
$gray-2:  #d1d0d2;
$gray-1:  #e8e7e8;
$white:   white;

/* feedback */
$color-success: #88c459;
$color-error:   #f5414f;
$color-warning: #ffd137;

/* typography */
$color-text: $gray-10;
$color-text-heading: $black;
$color-text-subtle: $gray-6;
$color-link: $color-primary-dark;
$color-link-visited: $color-primary-dark;
$color-mark: $color-accent-bg;
$color-blockquote-border: $gray-2;

/* border */
$color-border: $gray-2;

/* body */
$color-body: darken($white, 5%);

/* forms */
$form-element-border: $color-border;
$form-element-border-focus: $color-primary;
$form-element-border-error: $color-error;
$form-element-bg: $white;
$form-text-placeholder: $gray-4;

/* buttons */
$btn-primary-bg: $color-primary;
$btn-primary-hover: $color-primary;
$btn-primary-active: $color-primary-light;
$btn-primary-label: $white;

/* icons */
$color-icon-primary: $gray-4;
$color-icon-secondary: inherit;

/* font sizes */
$font-xx-small: 0.6rem;
$font-x-small: 0.75rem;
$font-small: 0.88rem;
$font-medium: 1rem;
$font-large: 1.2rem;
$font-x-large: 1.5rem;
$font-xx-large: 2.0rem;
$font-3x-large: 3.0rem;

/* spaces */
$space-unit: 1rem;
$space-xxs:  0.25 * $space-unit;
$space-xs:   0.5 * $space-unit;
$space-sm:   0.75 * $space-unit;
$space-md:   1.25 * $space-unit;
$space-lg:   2 * $space-unit;
$space-xl:   3.25 * $space-unit;
$space-xxl:  5.25 * $space-unit;