/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.blocker {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1035;
}

.modal {
  box-shadow: 0 0 10px #7b7a7d;
  text-align: center;
  vertical-align: initial;
  top: 10vh;
  width: 350px;
}

.modal input[type='email'],
.modal input[type='password'],
.modal label[for='remember-me'] {
  width: 80%;
}

.modal input[type='email'],
.modal input[type='password'] {
  margin-top: 2rem;
  margin-bottom: 0;
}

.modal label[for='remember-me'] {
  margin-bottom: 0;
}

.modal input[type='checkbox']:focus {
  outline: none;
}

.modal .password-forget {
  margin-bottom: 10px;
}

nav .first-time-use {
  margin: 20px 0;
}

.modal label[for='remember-me'] {
  margin: 0.5rem 0;
}
