@import "variables";

.blocker {
    background-color: rgba(255,255,255,0.75);
    z-index: 1035;
}
.modal {
    box-shadow: 0 0 10px $gray-6;
    text-align: center;
    vertical-align: initial;
    top: 10vh;
    width: 350px;
}

.modal input[type='email'],
.modal input[type='password'],
.modal label[for='remember-me'] {
    width: 80%;
}

.modal input[type='email'],
.modal input[type='password'] {
    margin-top: $space-lg;
    margin-bottom: 0;
}

.modal label[for='remember-me'] {
    margin-bottom: 0;
}

.modal input[type='checkbox']:focus {
    outline: none;
}

.modal .password-forget {
    margin-bottom: 10px;
}

nav .first-time-use {
    margin: 20px 0;
}

.modal label[for='remember-me'] {
    margin: $space-xs 0;
}