@import "variables";

html, body {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: $color-body;
    font-size: $font-small;
}

.contents-wrapper {
    min-height: 30vh;
    background-color: $white;
    padding: $space-lg;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

header {
    background-color: $color-header-footer;
    color: $white;
    font-size: $font-small;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

footer {
    background-color: $color-header-footer;
    color: $white;
    font-size: $font-small;
}

footer a {
    color: $white;
}

footer a:hover {
    color: $white;
}


.navbar {
    background-color: $color-header-footer;
}

.navbar-brand {
    color: $black;
}

.navbar-brand:hover {
    color: $white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    padding: 0 $space-xs;
    margin: 0 $space-xs;
}

a.nav-link {
    color: $white;
    font-weight: bold;
}

a.nav-link:hover {
    color: $gray-10;
}

.dropdown-item {
    font-size: $font-small;
    color: $gray-10;
}

legend {
    padding: $space-xs 0;
    font-size: $font-large;
    margin: initial;
}

input, textarea, select {
    border: solid 1px $gray-2;
    font-size: $font-small;
    padding: $space-xs;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input.form-error {
    margin-bottom: 0;
}

input[type=checkbox] {
    margin-right: $space-xs;
}

/* validation error message */
.error-message {
    font-size: $font-x-small;
    text-indent: $space-unit;
    color: var(--red);
    text-align: left;
}

/* flash error message */
.message.error {
    font-size: $font-x-small;
    margin-top: $space-sm;
    color: var(--red);
}

input[type='text']:focus {
    outline: solid 1px $color-primary;
}

a {
    text-decoration: none;
    color: $color-link;
}

a:hover {
    text-decoration: none;
}

ul, li {
    padding: 0;
}

.font-xx-small {
    font-size: $font-xx-small;
}
.font-x-small {
    font-size: $font-x-small;
}
.font-small {
    font-size: $font-small;
}
.font-medium {
    font-size: $font-medium;
}
.font-large {
    font-size: $font-large;
}
.font-x-large {
    font-size: $font-x-large;
}
.font-xx-large {
    font-size: $font-xx-large;
}
.font-3x-large {
    font-size: $font-3x-large;
}

.font-gray {
    color: $gray-6;
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    background: $btn-primary-bg;
    color: $white;
    border: solid 1px $gray-2;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: 15px 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all .3s;
}

.button:hover,
.button:focus {
    font-weight: 400;
    border: solid 1px $btn-primary-bg;
    background: $white;
    text-decoration: none;
    color: $btn-primary-bg;
}

.button-xs {
    width: 80px;
    font-size: $font-x-small;
    padding-left: 0;
    padding-right: 0;
}

.button-sm {
    width: 100px;
    font-size: $font-small;
}

.button-md {
    width: 250px;
    font-size: $font-medium;
}

.button-lg {
    width: 300px;
    font-size: $font-large;
    padding: $space-lg, 0;
}

.button-white {
    border: solid 1px $btn-primary-bg;
    background: $white;
    color: $btn-primary-bg;
}

.button-white:hover,
.button-white:focus {
    font-weight: 400;
    color: $white;
    background: $btn-primary-bg;
    text-decoration: none;
    outline: none;
}

.button-gray {
    border: solid 1px $gray-2;
    background: $gray-4;
    color: $white;
}

.button-gray:hover,
.button-gray:focus {
    font-weight: 400;
    color: $gray-4;
    background: $white;
    border: solid 1px $gray-2;
    text-decoration: none;
    outline: none;
}

.contents-label {
    font-size: $font-x-large;
    margin-bottom: $space-unit;
}

.contents-semi-label {
    font-size: $font-large;
    margin-bottom: $space-unit;
}

.alert {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}