/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
html, body {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #f2f2f2;
  font-size: 0.88rem;
}

.contents-wrapper {
  min-height: 30vh;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

header {
  background-color: #A9A9A9;
  color: white;
  font-size: 0.88rem;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

footer {
  background-color: #A9A9A9;
  color: white;
  font-size: 0.88rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.navbar {
  background-color: #A9A9A9;
}

.navbar-brand {
  color: #1d1d21;
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

a.nav-link {
  color: white;
  font-weight: bold;
}

a.nav-link:hover {
  color: #2e2e31;
}

.dropdown-item {
  font-size: 0.88rem;
  color: #2e2e31;
}

legend {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  margin: initial;
}

input, textarea, select {
  border: solid 1px #d1d0d2;
  font-size: 0.88rem;
  padding: 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input.form-error {
  margin-bottom: 0;
}

input[type=checkbox] {
  margin-right: 0.5rem;
}

/* validation error message */
.error-message {
  font-size: 0.75rem;
  text-indent: 1rem;
  color: var(--red);
  text-align: left;
}

/* flash error message */
.message.error {
  font-size: 0.75rem;
  margin-top: 0.75rem;
  color: var(--red);
}

input[type='text']:focus {
  outline: solid 1px #2BAAA5;
}

a {
  text-decoration: none;
  color: #165956;
}

a:hover {
  text-decoration: none;
}

ul, li {
  padding: 0;
}

.font-xx-small {
  font-size: 0.6rem;
}

.font-x-small {
  font-size: 0.75rem;
}

.font-small {
  font-size: 0.88rem;
}

.font-medium {
  font-size: 1rem;
}

.font-large {
  font-size: 1.2rem;
}

.font-x-large {
  font-size: 1.5rem;
}

.font-xx-large {
  font-size: 2rem;
}

.font-3x-large {
  font-size: 3rem;
}

.font-gray {
  color: #7b7a7d;
}

.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background: #2BAAA5;
  color: white;
  border: solid 1px #d1d0d2;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s;
}

.button:hover,
.button:focus {
  font-weight: 400;
  border: solid 1px #2BAAA5;
  background: white;
  text-decoration: none;
  color: #2BAAA5;
}

.button-xs {
  width: 80px;
  font-size: 0.75rem;
  padding-left: 0;
  padding-right: 0;
}

.button-sm {
  width: 100px;
  font-size: 0.88rem;
}

.button-md {
  width: 250px;
  font-size: 1rem;
}

.button-lg {
  width: 300px;
  font-size: 1.2rem;
  padding: 2rem, 0;
}

.button-white {
  border: solid 1px #2BAAA5;
  background: white;
  color: #2BAAA5;
}

.button-white:hover,
.button-white:focus {
  font-weight: 400;
  color: white;
  background: #2BAAA5;
  text-decoration: none;
  outline: none;
}

.button-gray {
  border: solid 1px #d1d0d2;
  background: #a5a5a6;
  color: white;
}

.button-gray:hover,
.button-gray:focus {
  font-weight: 400;
  color: #a5a5a6;
  background: white;
  border: solid 1px #d1d0d2;
  text-decoration: none;
  outline: none;
}

.contents-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contents-semi-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}
