/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.masthead {
  position: relative;
}

.masthead .landing-image {
  background: url(../../img/businessmen-collaboration-cooperation-886465.jpg) center center/cover no-repeat fixed;
  opacity: 0.2;
  height: 100vh;
}

.masthead .lonaing-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #555457;
  font-size: 3rem;
}
