/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
p, li {
  line-height: 1.8;
}

ol.kana li,
ul.dot li {
  padding-left: 0.5em;
  text-indent: 0;
}

ol.bracket {
  list-style-type: none;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

ol.bracket > li {
  counter-increment: cnt;
}

ol.bracket > li:before {
  content: "(" counter(cnt) ") ";
}
