@charset "UTF-8";
/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.register-contents {
  text-align: center;
}

.register-contents input[type='email'],
.register-contents input[type='password'],
.register-contents label[for='remember-me'] {
  width: 250px;
}

.register-contents input[type=radio] {
  display: none;
  /* ラジオボタンを非表示にする */
}

.register-contents label, input[type='checkbox'] {
  cursor: pointer;
}

.register-contents .input.radio {
  text-align: center;
}

.register-contents label[for='role-corp'],
.register-contents label[for='role-bank'] {
  margin: 0.75rem;
  /* ボックス外側の余白を指定する */
  width: 100px;
  /* ボックスの横幅を指定する */
  height: 45px;
  /* ボックスの高さを指定する */
  padding-left: 0.75rem;
  /* ボックス内左側の余白を指定する */
  padding-right: 0.75rem;
  /* ボックス内御右側の余白を指定する */
  color: #1d1d21;
  /* フォントの色を指定 */
  text-align: center;
  /* テキストのセンタリングを指定する */
  line-height: 45px;
  /* 行の高さを指定する */
  cursor: pointer;
  /* マウスカーソルの形(リンクカーソル)を指定する */
  border: 2px solid #d1d0d2;
  /* ボックスの境界線を実線で指定する */
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /* 角丸を指定する */
}

.register-contents label[for='role-corp']:hover,
.register-contents label[for='role-bank']:hover {
  background-color: #e8e7e8;
  /* マウスオーバー時の背景色を指定する */
}

.register-detail-contents {
  text-align: left;
}

.register-detail-contents label {
  width: 170px;
  text-align: left;
}

.register-detail-contents label[for='combobox']:after,
.register-detail-contents label[for='company-name']:after,
.register-detail-contents label[for='company-name-kana']:after,
.register-detail-contents label[for='president-last-name']:after,
.register-detail-contents label[for='president-last-name-kana']:after,
.register-detail-contents label[for='president-first-name']:after,
.register-detail-contents label[for='president-first-name-kana']:after,
.register-detail-contents label[for='staff-count']:after,
.register-detail-contents label[for='company-zipcode']:after,
.register-detail-contents label[for='company-address1']:after,
.register-detail-contents label[for='company-address2']:after,
.register-detail-contents label[for='last-name']:after,
.register-detail-contents label[for='last-name-kana']:after,
.register-detail-contents label[for='first-name']:after,
.register-detail-contents label[for='first-name-kana']:after,
.register-detail-contents label[for='phone']:after {
  content: " *";
  color: var(--red);
}

.register-detail-contents input {
  width: 200px;
}

.register-detail-contents legend {
  text-align: center;
}

.register-detail-contents select {
  background-color: white;
}

.register-detail-contents select[name='established_in[year]'],
.register-detail-contents select[name='established_in[month]'],
.register-detail-contents select[name='established_in[day]'] {
  margin-right: 1rem;
}

.register-detail-confirm {
  text-align: center;
}

.register-detail-confirm table {
  border-collapse: separate;
  border-spacing: 0 1.25rem;
}

.register-detail-confirm td {
  width: 185px;
}
