/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.create-loan label[for='loan-title']:after,
.create-loan label[for='category']:after,
.create-loan label[for='sub-category']:after,
.create-loan label[for='job-description']:after,
.create-loan label[for='desired-loan-amount']:after,
.create-loan label[for='loan-period']:after,
.create-loan label[for='loan-purpose']:after,
.create-loan label[for='assets']:after,
.create-loan label[for='loan-balance']:after {
  content: " *";
  color: var(--red);
}

.create-loan input#loan-title,
.create-loan textarea#job-description,
.create-loan textarea#prospect {
  width: 100%;
}

.create-loan select#category,
.create-loan select#sub-category,
.create-loan input#desired-loan-amount,
.create-loan input#loan-period,
.create-loan select#loan-purpose,
.create-loan input#loan-purpose-detail,
.create-loan input#assets,
.create-loan input#loan-balance {
  width: 70%;
  font-size: 0.88rem;
}

.create-loan select#financial-month {
  width: 10%;
  font-size: 0.88rem;
}

.create-loan label[for="fiscal-year"],
.create-loan label[for="revenue"],
.create-loan label[for="profits-losses"],
.create-loan select[name="fiscal_year_one[year]"],
.create-loan select[name="fiscal_year_two[year]"],
.create-loan select[name="fiscal_year_three[year]"] {
  margin: 0.75rem 0;
}

.create-loan select[name="fiscal_year_one[year]"],
.create-loan select[name="fiscal_year_two[year]"],
.create-loan select[name="fiscal_year_three[year]"],
.create-loan input#revenue-one,
.create-loan input#revenue-two,
.create-loan input#revenue-three,
.create-loan input#profits-losses-one,
.create-loan input#profits-losses-two,
.create-loan input#profits-losses-three {
  width: 200px;
}

.create-loan select[name="fiscal_year_one[year]"],
.create-loan select[name="fiscal_year_two[year]"],
.create-loan select[name="fiscal_year_three[year]"] {
  position: relative;
}

.confirm-loan table {
  table-layout: fixed;
  width: 100%;
}

.confirm-loan td {
  word-wrap: break-word;
}
