@import "../variables";

.upload-loan-image .triming-image {
    width: 100%;
    height: 100px;
    border: dashed #000 1px;
    cursor: pointer;
}

.upload-loan-image #trimed_image {
    height: 400px;
}

.upload-loan-image .triming-image p {
    font-size: $font-medium;
}

.upload-loan-image input {
    border: none;
    height: auto;
}

.upload-loan-image input:focus {
    outline: none;
}

.upload-loan-image input.triming_image {
    background-color: $gray-1;
}

.upload-loan-image .cropper-container {
    line-height: normal;
}