@import "../variables";

.view-loan-item table {
    width: 100%;
}

.view-loan-item th,
.view-loan-item td  {
    padding: 10px;
    border: 1px solid $gray-2;
    border-bottom: none;
}

.view-loan-item th  {
    background: #f4f4f4;
    text-align: left;
    border-right: none;
}

.view-loan-item td.left {
    border-right: none;
}

.view-loan-item th.bottom,
.view-loan-item td.bottom {
    border-bottom: 1px solid $gray-2;;
}