@import "../variables";

.bank-view-block input#search-value,
.bank-view-block select#bank-id {
    display: inline-block;
    width: 250px;
}

.bank-view-block .checkbox {
    display: inline-block;
    width: 33%;
}

.bank-view-block label,
.bank-view-block input#search-value,
.bank-view-block select#bank-id{
    font-size: $font-small;
}

.bank-view-block option {
    font-size: $font-x-small;
}