/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.bank-view-block input#search-value,
.bank-view-block select#bank-id {
  display: inline-block;
  width: 250px;
}

.bank-view-block .checkbox {
  display: inline-block;
  width: 33%;
}

.bank-view-block label,
.bank-view-block input#search-value,
.bank-view-block select#bank-id {
  font-size: 0.88rem;
}

.bank-view-block option {
  font-size: 0.75rem;
}
