<?php

echo $this->Html->css('/scss/pages/landing.min.css');

?>

<div class="landing">
    <div class="masthead">
        <div class="landing-image"></div>
        <p class="lonaing-header text-center">銀行融資を<br />より早く、より簡単に</p>
    </div>
</div>