<?php
use Cake\Core\Configure;
echo $this->Html->css('/scss/pages/terms.min.css');

?>

<div class="contents-wrapper container nda">
    <div class="contents-label mb-3">
        <?= __('秘密保持契約') ?>
    </div>
    <div class="mb-5">
    株式会社plisma（住所：<?= ADDRESS ?> 代表取締役：<?= CEO ?>）（以下「運営者」という。）及び運営者が管理・運営するウェブサイト「plisma」（以下「本件サイト」という。）に登録した者（以下「登録者」という。）は本件サイトに関して相互に開示する情報の秘密保持に関して、以下のとおり合意したので、秘密保持契約（以下「本契約」という。）を締結する。
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第1条（秘密情報）') ?>
        </div>
        <p class="mx-5">
            本契約における「秘密情報」とは、本件サイトの管理・運営又は利用（以下「本件目的」という。）のために、文書、口頭、電磁的記録媒体その他開示の方法及び媒体を問わず、登録者又は運営者が相手方当事者に対して開示した一切の情報、並びに、本契約の存在及び内容をいう。なお、秘密情報を開示した当事者を「開示当事者」、秘密情報を受領した当事者を「受領当事者」という。<br />
            前項の規定にかかわらず、次の各号のいずれかに該当する情報は、秘密情報に含まれないものとする。
            <ol class="mx-5 bracket">
                <li>開示された時点で、既に公知であった情報</li>
                <li>開示された時点で、受領当事者が既に適法に保有していた情報</li>
                <li>開示された後に、受領当事者が正当な権限を有する第三者から秘密保持義務を負うことなく且つ適法に入手した情報</li>
                <li>開示された後に、受領当事者の責めに帰すことができない事由により公知となった情報</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第2条 （目的外使用の禁止）') ?>
        </div>
        <p class="mx-5">
            登録者及び運営者は、事前に相手方当事者の書面による承諾を得ることなく、本件目的以外のために秘密情報を使用してはならない。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第3条 （秘密情報の第三者への開示）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-4">
                <li>登録者及び運営者は、秘密情報について厳に秘密を保持するものとし、事前に相手方当事者の書面による承諾を得ることなく、第三者に秘密情報を開示又は漏洩してはならない。</li>
                <li>前項の規定にかかわらず、登録者及び運営者は、次の各号のいずれかに該当する場合には、当該各号に規定される範囲で、秘密情報を開示することができるものとする。</li>
                <ol class="bracket">
                    <li>本件目的に合理的な必要な範囲で、受領当事者の役員及び従業員、並びに、弁護士、公認会計士、税理士その他の法令上の守秘義務を負う専門家に開示する場合</li>
                    <li>法令、裁判所の判決・決定・命令、監督官庁その他の行政機関の規則・命令・指導、金融商品取引所その他の受領当事者を規制する権限を有する公的機関の規則・命令・指導（以下「法令等」という。）に従い、法令等に従うために必要最小限の範囲で開示する場合。ただし、この場合、受領当事者は、当該法令等及び開示する秘密情報の内容を事前に（ただし、緊急を要する場合には、開示後速やかに）開示当事者に書面により通知するものとし、当該秘密情報の秘密を保持するために合理的にとりうる手段があるときは、その手段をとるものとする。</li>
                </ol>
                <li>登録者及び運営者は、第１項又は前項第１号の規定に基づき第三者に秘密情報を開示する場合には、当該第三者が法律上守秘義務を負う者でないときは、当該第三者に対して、本契約に規定される自己の義務と実質的に同等の義務を負わせるものとし、且つ、当該第三者によるかかる義務の履行につき、一切の責任を負うものとする。</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第4条 （秘密情報の管理）') ?>
        </div>
        <p class="mx-5">
            登録者及び運営者は、善良な登録者の注意をもって秘密情報を管理しなければならない。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第5条 （秘密情報の返還・破棄）') ?>
        </div>
        <p class="mx-5">
            受領当事者は、開示当事者から書面にて請求があった場合には、開示当事者が合理的に指示するところに従い、自らの費用と責任において、開示当事者から開示を受けた秘密情報（あらゆる形態の複製物及び翻訳物を含む。）を速やかに開示当事者に返還し又は破棄するものとする。<br />
            受領当事者は、開示当事者から書面にて請求があった場合には、前項の受領当事者の義務が履行されたことを証明する書面を速やかに開示当事者に対して提出するものとする。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第6条 （有効期間）') ?>
        </div>
        <p class="mx-5">
            本契約の有効期間は、本契約の締結日から２年間とする。ただし、期間満了の３か月前までに登録者又は運営者から書面による別段の申し出がない場合には、本契約は自動的に２年間延長されるものとし、以後も同様とする。<br />
            前項の規定にかかわらず、第5条、第7条、第9条及び第10条の規定は本契約の終了後も有効に存続するものとする。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第7条 （損害賠償）') ?>
        </div>
        <p class="mx-5">
            登録者及び運営者は、相手方当事者が本契約に違反した場合には、当該違反によって生じた損害の賠償を相手方当事者に請求することができる。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第8条 （知的財産権の不付与）') ?>
        </div>
        <p class="mx-5">
            登録者及び運営者は、本件目的のために秘密情報を使用する権利を認める以外に、本契約に基づいて、特許権、著作権、営業秘密、ノウハウその他の秘密情報に関する権利を相手方当事者に付与しない。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第9条 （準拠法・合意管轄）') ?>
        </div>
        <p class="mx-5">
            本契約の準拠法は日本法とし、日本法に従い解釈されるものとする。<br />
            本契約に関して生じた紛争の解決については、まずは登録者及び運営者が誠実に協議することによりその解決に当たるものとするが、かかる協議が調わない場合には、東京地方裁判所を第一審の専属的合意管轄裁判所として裁判により解決するものとする。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第10条 （誠実協議）') ?>
        </div>
        <p class="mx-5">
            本契約に定めのない事項又は本契約の解釈について疑義が生じた場合には、登録者及び運営者は、信義誠実の原則に則り、誠意をもって協議し解決するものとする。
        </p>
    </div>

    <div class="text-right">
        2019 年 8 月 1 日制定
    </div>
</div>