<?php
use Cake\Core\Configure;
echo $this->Html->css('/scss/pages/terms.min.css');

?>

<div class="contents-wrapper container privacy">
    <div class="contents-label mb-3">
        <?= __('個人情報保護方針') ?>
    </div>
    <div class="mb-5">
        株式会社plisma（以下「当社」といいます。）では、個人情報の重要性を認識し、個人情報の保護に関する法律を遵守し、個人情報を厳しく保護、管理することが企業活動の基本であり、社会的責務であると考えています。みなさまの信頼にお応えし、安心してお取引、ご利用いただくために、当社の提供するサービス（以下「本サービス」といいます。）における、本サービスの利用者（以下「利用者」といいます。）の個人情報を含む利用者情報（第１条で定義されます。）の取扱いについて、以下のとおり個人情報保護方針（以下「本方針」といいます。）を定めます。
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第1条 （収集する利用者情報及び収集方法）') ?>
        </div>
        <p class="mx-5">
            本方針において、「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他の利用者のスマートフォン、PC等の端末において利用者又は利用者の端末に関連して生成又は蓄積された情報であって、本方針に基づき当社が収集するものをいいます。本サービスにおいて当社が収集する利用者情報には、その収集方法に応じて、以下のようなものがあります。
            <ol class="mx-4 bracket">
                <li>利用者からご提供いただく情報</li>
                利用者から本サービスを利用するためにご提供いただく情報は以下のとおりです。
                <ul class="mx-5 dot" style="list-style: disc;">
                    <li>氏名</li>
                    <li>性別</li>
                    <li>年齢</li>
                    <li>郵便番号及び住所</li>
                    <li>メールアドレス</li>
                    <li>電話番号</li>
                    <li>職業</li>
                    <li>その他当社が定める入力フォームに利用者が入力する情報</li>
                </ul>
                <li>利用者が、本サービスを利用するにあたり、他のサービスとの連携を許可することにより、当該他のサービスから当社へご提供いただく情報</li>
                利用者が、本サービスを利用するにあたり、ソーシャルネットワークサービス等の外部サービスとの連携を許可した場合には、その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから収集します。
                <ul class="mx-5 dot" style="list-style: disc;">
                    <li>当該外部サービスで利用者が利用するID</li>
                    <li>その他当該外部サービスのプライバシー設定により利用者が連携先に開示を認めた情報</li>
                </ul>

                <li>利用者が本サービスを利用するにあたって、当社が収集する情報</li>
                当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。
                <ul class="mx-5 dot" style="list-style: disc;">
                    <li>端末情報</li>
                    <li>ログ情報</li>
                    <li>Cookie及び匿名ID</li>
                    <li>位置情報</li>
                </ul>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第2条 （利用目的）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-4">
                <li>利用者情報は、本条第２項に定めるとおり、本サービスの提供のために利用されるほか、本条第３項に定めるとおり、その他の目的にも利用される場合があります。</li>
                <li>本サービスのサービス提供に関わる利用者情報の具体的な利用目的は以下のとおりです。</li>
                <ol class="bracket">
                    <li>本サービスに関する登録の受付、本人確認、利用料金の計算その他の本サービスの提供、維持、保護及び改善のため</li>
                    <li>本サービスの利用状況等の調査、検討、分析等のため</li>
                    <li>本サービスに関するご案内、お問い合わせ等への対応、アフターサービスの提供等のため</li>
                    <li>本サービスに関する当社の規約等に違反する行為への対応その他紛争・トラブル等への対応のため</li>
                    <li>本サービスに関する規約等の変更等の通知その他の連絡をするため</li>
                    <li>本サービスに関して、フィナンシャルアドバイザー、弁護士、公認会計士、税理士その他の専門家及び金融機関（あわせて以下「外部アドバイザー」といいます。）との相談、協議等を行うため又は外部アドバイザーに利用者を紹介するため</li>
                    <li>上記の利用目的に付随又は関連する利用目的のため</li>
                </ol>
                <li>前項以外の利用目的は以下のとおりです。</li>
                <ol class="bracket">
                    <li>当社のサービスに関連して、個人情報を識別できない形式に加工した統計データを作成するため</li>
                    <li>当社又は第三者の広告の配信又は表示のため</li>
                    <li>その他マーケティングに利用するため</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第3条 （第三者提供）') ?>
        </div>
        <p class="mx-5">
            当社は、利用者情報のうち、個人データについては、個人情報保護法その他の法令諸規則等に基づき認められる場合及び以下に定める場合を除くほか、あらかじめ利用者の同意を得ないで第三者に提供しません。
            <ol class="mx-4 bracket">
                <li>法令等に基づき又は当社が従うべき法令等に基づく義務を果たすために、裁判所、行政機関、監督官庁その他公的機関等に提供する場合</li>
                <li>本サービスに関する当社の規約等に違反する行為への対応その他紛争・トラブル等への対応のために、裁判所、行政機関、監督官庁その他公的機関に提供する場合</li>
                <li>当社又は第三者の広告の配信又は表示のために、当該配信又は表示を行う事業者等に提供する場合</li>
                <li>本サービスに関して、外部アドバイザーとの相談、協議等を行うため、外部アドバイザーに利用者を紹介するため、又は、 外部アドバイザーが利用者による本サービスの利用状況等を把握するために外部アドバイザーに提供する場合</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第4条 （共同利用）') ?>
        </div>
        <p class="mx-5">
            当社は、以下のとおり利用者の個人情報を共同利用します。
            <ol class="mx-4 bracket">
                <li>共同して利用される個人情報の項目 第1条記載の情報に同じ</li>
                <li>共同して利用する者の範囲 当社及び当社の関係会社・グループ会社</li>
                <li>共同して利用する者の利用目的 1．各種リスクの把握及び管理等、グループ会社としての経営管理及び各種リスク管理の適切な遂行のため2．より高品質のサービスの企画･開発のため3．各種商品やサービスに関する個別のご連絡のため</li>
                <li>利用者情報の管理について責任を有する者の氏名又は名称 当社</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第5条 （利用者情報の取扱いの委託）') ?>
        </div>
        <p class="mx-5">
            当社が利用者情報の取扱いを委託する場合は、利用者の利用者情報の安全管理が図られるよう適切に監督いたします。当社では、例えば、以下のような事務について、利用者情報の取扱いの委託を行う場合があります。<br />
            （委託する事務の例）<br />
            電話/郵便受付に関わる事務<br />
            メールマガジン発信に関わる事務
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第6条 （保有個人データの開示等）') ?>
        </div>
        <p class="mx-5">
            当社は、利用者から、個人情報保護法の定めに基づき当社の保有個人データの利用目的の通知、開示、訂正、利用停止等（以下「開示等」といいます。）を求められた場合には、利用者ご本人からのご請求であることを確認の上で、遅滞なく必要な調査を行い、その結果に基づき、保有個人データの開示等を行います。また、開示等を行わない旨の決定をしたときは、利用者に対しその旨を通知します。<br />
            当社の保有個人データの開示につきましては、手数料（1件あたり1,000円。ただし、開示希望情報の項目、量等に応じた手数料が加算されることがあります。）を頂戴しておりますのであらかじめご了承ください。<br />
            当社は、利用者から、当社の保有個人データの消去を求められた場合、当社が当該請求に応じる必要があると判断したときは、利用者ご本人からのご請求であることを確認の上で、当該保有個人データの消去を行い、その旨を利用者に通知します。<br />
            個人情報保護法その他の法令諸規則等により、当社が開示等の義務を負わない場合には、前3項の規定は適用されません。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第7条 （お問い合わせ窓口）') ?>
        </div>
        <p class="mx-5">
            ご意見、ご相談、苦情のお申出その他の利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。<br />
            住所：<?= ADDRESS ?><br />
            名称：株式会社plisma<br />
            E-mail：<?= EMAIL_BASE ?>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第8条 （個人情報保護方針の変更）') ?>
        </div>
        <p class="mx-5">
            当社は、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本方針を変更することがあります。変更した場合には、登録利用者に当該変更内容を通知するものとし、当該変更内容の通知後、登録利用者が本サービスを利用した場合又は当社の定める期間内に登録抹消の手続を取らなかった場合には、利用者は、本方針の変更に同意したものとみなします。
        </p>
    </div>

    <div class="text-right">
        2019 年 8 月 1 日制定
    </div>

</div>