<?php

echo $this->Html->css('/scss/pages/terms.min.css');

?>

<div class="contents-wrapper container terms-of-service">
    <div class="contents-label mb-5">
        <?= __('利用規約') ?>
    </div>
    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第1条 （適用）') ?>
        </div>
        <p class="mx-5">
            本規約は、本サービスの提供条件及び本サービスの利用に関する当社と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。<br />
            当社が当社ウェブサイト（次条第1号で定義）上で本サービスの利用に関するルール等（以下「ルール等」）を掲載した場合には、当該ルール等は本規約の一部を構成するものとします。<br />
            本規約の内容と、前項のルール等その他の本規約外における本サービスの説明等とが異なる場合には、本規約の規定が優先して適用されるものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第2条 （定義）') ?>
        </div>
        <p class="mx-5">
            本規約において使用する以下の用語は、それぞれ以下に定める意味を有するものとします。
            <ol class="mx-5 bracket">
                <li>「当社ウェブサイト」とは、当社が運営するウェブサイトである「plisma (<a href="https://www.plisma.jp">https://www.plisma.jp</a>）」（理由の如何を問わず、ドメイン、名称又は内容が変更された場合には、当該変更後のウェブサイトを含みます。）を意味します。</li>
                <li>「本サービス」とは、当社ウェブサイトにおいて提供する一切のサービス（理由の如何を問わず、サービスの名称、内容等が変更された場合には、当該変更後のサービスを含みます。）を意味します。</li>
                <li>「登録ユーザー」とは、次条に基づいて本サービスの利用者として登録がなされた個人又は法人を意味します。</li>
                <li>「サービス利用契約」とは、本規約により当社と登録ユーザーとの間で締結する、本サービスの利用契約を意味し、本規約及びその一部を成すルール等で構成されます。</li>
                <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
                <li>「投稿データ」とは、登録ユーザーが本サービスを利用して投稿その他送信するコンテンツ（その形態を問わず、文章、画像、動画その他のデータを含みますが、これらに限りません。）を意味します。</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第3条 （登録）') ?>
        </div>
        <p class="mx-5">
            本サービスの利用を希望する者は、本規約を遵守することに同意し、かつ、当社の定める一定の情報（以下「登録事項」）を当社の定める方法で当社に提供し、さらに、本規約及び当社の定める個人情報保護方針（<a href="https://www.plisma.jp/pages/privacy">https://www.plisma.jp/pages/privacy</a>）に同意することにより、当社に対し、本サービスの利用の登録を申請することができます。<br />
            前項に基づいて登録申請を行った者（以下「登録申請者」）は、登録事項が真実かつ正確であることを、当社に対し、表明し保証するものとします。<br />
            当社は、当社の基準に従って登録申請者の登録の可否を判断し、当社が登録を認める場合にはその旨を登録申請者に通知します。登録申請者の登録ユーザーとしての登録は、当社が本項の通知を行うことをもって完了するものとします。<br />
            前項に定める登録の完了時に、登録ユーザーと当社との間にサービス利用契約が成立し、登録ユーザーは、本サービスをサービス利用契約に従い利用することができるようになります。<br />
            当社は、その裁量により、登録申請者又は登録ユーザーが以下の各号のいずれかに該当すると判断した場合には、本サービスの利用の登録又は再登録を拒否することができます。なお、当社は当該拒否の理由について一切開示義務を負いません。<br />
            <ol class="mx-5 bracket">
                <li>当社に提供した登録事項の全部又は一部につき、虚偽、誤記、不正確又は記載漏れがあった場合</li>
                <li>未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人、又は補助人の同意等を得ていなかった場合</li>
                <li>反社会的勢力（第14条第1項第1号で定義）である、又は、資金提供その他を通じて反社会的勢力の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力との何らかの交流若しくは関与を行っている場合</li>
                <li>過去に当社との契約に違反した（表明保証した事項が不実又は不正確であった場合を含みます。）者又はその関係者である場合</li>
                <li>第12条に定める措置を受けたことがある場合</li>
                <li>その他、登録が適当でない場合</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第4条 （登録事項等の変更）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、登録事項に変更があった場合には、当社ウェブサイトにて自ら更新作業を行う方法により、当該変更事項を遅滞なく当社に通知するものとします。<br />
            当社は、登録事項又は投稿データが別途当社が定めた基準に反すること、事実に反することが明らかになった場合その他当社が修正の必要があると判断した場合に、登録ユーザーに対して登録事項又は投稿データの修正を行うことを求める権利を有します。登録ユーザーは、当社から求められた場合、直ちに投稿データの修正を行わなければなりません。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第5条 （パスワード及びユーザーIDの管理）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、又は、貸与、譲渡、名義変更、売買等してはならないものとします。<br />
            本サービスに関するパスワード又はユーザーIDの盗難、漏えい、管理不十分、使用上の過誤、第三者の使用等によって生じた損害、損失、費用及び支出（以下「損害等」）に関する責任は、登録ユーザーが負うものとし、当社は一切の責任を負いません。また、登録ユーザーの故意又は過失により本サービスに関するパスワード又はユーザーIDの不正利用等がなされ、当社に損害等が生じた場合には、当該登録ユーザーは当該損害等を賠償するものとします。<br />
            本サービスに関するパスワード又はユーザーIDが盗用され又は使用されていることが判明した場合には、登録ユーザーは、直ちにその旨を当社に通知するとともに、当社の指示に従うものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第6条 （料金及び支払方法）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、当社が提供する有料サービスを利用する場合には、本サービスの利用の対価として、別途当社が定め、当社ウェブサイトに表示又はその他の方法により登録ユーザーに対して通知する料金を、当社が指定する支払方法により当社に支払うものとします。また、当社に支払われた料金は、当社が返還の必要性を認めない限り、いかなる場合も返還しないものとします。<br />
            当社は、その裁量によりいつでも、前項の料金を変更することができます。この場合、当社ウェブサイトに変更後の料金を表示する又はその他の方法により登録ユーザーへ通知するものとします。<br />
            登録ユーザーが前2項の料金その他本規約に定める債務の支払いを遅滞した場合には、登録ユーザーは、年14.6％の割合による遅延損害金を当社に支払うものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第7条 （報告事項）') ?>
        </div>
        <p class="mx-5">
            当社は、登録ユーザーに対し、本サービスの利用状況及び他の登録ユーザーとの契約交渉の状況その他本規約に基づき本サービスの適切な運営上必要と当社が判断する登録ユーザー並びに投稿データにかかる情報の報告及び書面の提出（以下「状況報告」）を求めることができるものとし、登録ユーザーは、当社から状況報告を求められた場合、直ちに当社に対し状況報告等をしなければならないものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第8条 （禁止事項）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当すると当社が判断する行為をしてはなりません。
            <ol class="mx-5 bracket">
                <li>法令諸規則等に違反する行為又は犯罪に関連する行為</li>
                <li>当社、本サービスの他の利用者又はその他の第三者に対する詐欺又は脅迫行為</li>
                <li>公序良俗に反する行為</li>
                <li>当社、本サービスの他の利用者若しくはその他の第三者の知的財産権、肖像権、プライバシー、名誉その他の権利若しくは利益を侵害する又はそのおそれがある行為</li>
                <li>本サービスを通じ、以下に該当する情報又は該当すると当社が判断する情報を当社又は本サービスの他の利用者に送信等する行為</li>
                <ol class="kana" style="list-style-type: katakana">
                    <li>暴力的又は残虐な表現を含む情報</li>
                    <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報</li>
                    <li>当社、本サービスの他の利用者若しくはその他の第三者の名誉若しくは信用を毀損する又はそのおそれがある表現を含む情報</li>
                    <li>わいせつな表現を含む情報</li>
                    <li>差別を誘引又は助長する表現を含む情報</li>
                    <li>自殺、自傷行為を誘引又は助長する表現を含む情報</li>
                    <li>薬物の違法若しくは不適切な利用を誘引又は助長する表現を含む情報</li>
                    <li>反社会的な表現を含む情報</li>
                    <li>チェーンメールその他の第三者への情報の拡散を求める情報</li>
                    <li>他人に不快感を与える表現を含む情報</li>
                    <li>面識のない異性との出会いを目的とした情報</li>
                </ol>
                <li>本サービスのネットワーク若しくはシステム等に過度な負荷をかける又はそのおそれのある行為</li>
                <li>本サービスの運営を妨害する又はそのおそれのある行為</li>
                <li>本サービスを提供するネットワーク若しくはシステム等に不正にアクセスし又は不正なアクセスを試みる行為</li>
                <li>第三者に成りすます行為</li>
                <li>本サービスの他の利用者のID又はパスワードを利用する行為</li>
                <li>本サービス上での本サービスの趣旨に反する宣伝、広告、勧誘又は営業行為</li>
                <li>当社、本サービスの他の利用者若しくはその他の第三者に不利益や損害、不快感等を与える又はそのおそれのある行為</li>
                <li>反社会的勢力への利益供与行為</li>
                <li>面識のない異性との出会いを目的とした行為</li>
                <li>風俗営業等の規制及び業務の適正化等に関する法律2条5号に定義される性風俗関連特殊営業に相当する若しくはそれに抵触するおそれのある投稿データを投稿又は送信する行為</li>
                <li>前各号の行為を直接又は間接に惹起し又は容易にする行為</li>
                <li>その他、当社が不適切と判断する行為</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第9条 （損害賠償等）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーが故意又は過失により本規約等で構成されるサービス利用契約に違反した場合、当該登録ユーザーは、当該違反により損害等を被った登録ユーザー及び第三者に対して、当該損害等を賠償する責任を負うものとします。また、登録ユーザーがかかる違反行為を行ったことにより、当社が損害等を被った場合には、当該登録ユーザーは、当該損害等を賠償する責任を負うとともに、本規約又は当社ウェブサイトに定める違約金を支払う義務を負うものとします。なお、個別に違約金の定めがある場合でも、当社が被った損害等が当該違約金の額を上回る場合には、当社は、登録ユーザーに対し、当該損害等の金額の賠償を請求できるものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第10条 （本サービスの停止等）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-3">
            <li>当社は、以下の各号のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができるものとします。</li>
                <ol class="bracket">
                    <li>本サービスに係るサーバー、ネットワークその他のコンピューター・システムの点検、保守、修理又は変更作業を行う場合</li>
                    <li>コンピューター、通信回線等が事故により停止又は中断した場合</li>
                    <li>地震、落雷、火災、風水害、天災地変等の不可抗力により本サービスの運営ができなくなった場合</li>
                    <li>法令諸規則等に基づき、司法、行政等から指導、勧告、命令等を受けた場合</li>
                    <li>その他、当社が停止又は中断を必要と判断した場合</li>
                </ol>
            <li>登録ユーザーは、前項に基づく措置がなされた後も、当社、本サービスの他の利用者又はその他の第三者に対する本サービスに関連する債務及び義務を免れません。</li>
            <li>当社は、本条に基づき当社が行った措置により登録ユーザーに生じた損害等について一切の責任を負いません。</li>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第11条 （権利帰属等）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-3">
                <li>当社ウェブサイト及び本サービスに関する知的財産権は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当該知的財産権の登録ユーザーに対する使用許諾を意味するものではありません。</li>
                <li>登録ユーザーは、投稿データについて、自らが投稿その他送信するための適法な権利を有していること、投稿データが真実かつ正確であること及び投稿データが第三者の権利及び利益を侵害していないことを、当社に対し表明し、保証するものとします。</li>
                <li>登録ユーザーは、投稿データについて、当社に対し、世界的、非独占的、サブライセンス可能かつ譲渡可能な利用（使用、複製、配布、派生著作物の作成、表示及び実行を含みます。）に関するライセンスを無償で付与します。</li>
                <li>登録ユーザーは、当社及び当社から権利を承継し又は許諾された者に対し、著作者人格権を行使しないことに同意するものとします。</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第12条 （登録抹消等）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-3">
                <li>当社は、登録ユーザーが、以下の各号のいずれかに該当する場合には、事前に通知又は催告することなく、投稿データを削除し、当該登録ユーザーについて本サービスの利用を停止し又は当該登録ユーザーとのサービス利用契約を解除することができます。</li>
                <ol class="bracket">
                    <li>本規約のいずれかの条項に違反した場合（表明保証した事項が不実又は不正確であった場合を含みます。）</li>
                    <li>登録事項に虚偽又は不正確な事実があることが判明した場合</li>
                    <li>支払い停止若しくは支払不能となり又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合</li>
                    <li>12ヶ月以上本サービスの利用がない場合</li>
                    <li>当社からの問い合わせその他の回答を求める連絡に対し、3日間以上応答がない場合</li>
                    <li>第8条に違反した場合</li>
                    <li>第3条第5項各号のいずれかに該当する場合</li>
                    <li>当該登録ユーザーに他の登録ユーザー又は第三者から苦情が発生したとき</li>
                    <li>その他、当社がサービス利用契約の継続を適当でないと判断した場合</li>
                </ol>
                <li>前項各号のいずれかの事由に該当した場合、登録ユーザーは、当社に対して負っている本サービスの利用に関する債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</li>
                <li>登録ユーザーは、第1項に基づく措置がなされた後も、当社、本サービスの他の利用者又はその他の第三者に対する本サービスに関連する債務及び義務を免れません。</li>
                <li>当社は、本条に基づき当社が行った行為により登録ユーザーに生じた損害等について一切の責任を負いません。</li>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第13条 （退会）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、当社所定の方法で当社に通知することにより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。<br />
            登録ユーザーは、本サービスからの退会により、当社に対して負っている本サービスの利用に関する債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。<br />
            登録ユーザーは、本サービスから退会した後も、当社、本サービスの他の利用者又はその他の第三者に対する本サービスに関連する債務及び義務を免れません。<br />
            退会後の利用者情報の取扱いについては、第18条の規定に従うものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第14条 （反社会的勢力の排除）') ?>
        </div>
        <p class="mx-5">
            <ol class="mx-3">
                <li>登録ユーザーは、現在、自ら及び自己の役職員が以下の各号のいずれか一にも該当しないことを表明及び保証し、かつ、将来にわたっても該当しないことを確約します。</li>
                <ol class="bracket">
                    <li>暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等その他これらに準ずる者（以下「反社会的勢力」と総称）であること</li>
                    <li>反社会的勢力が経営を支配していると認められる関係を有すること</li>
                    <li>反社会的勢力が経営に実質的に関与していると認められる関係を有すること</li>
                    <li>自己若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること</li>
                    <li>反社会的勢力に対して資金等を提供し、又は便宜を供与するなどの関与をしていると認められる関係を有すること</li>
                    <li>役職員又は経営に実質的に関与している者と反社会的勢力との間に社会的に非難されるべき関係を有すること</li>
                </ol>
                <li>登録ユーザーは、自ら又は第三者を利用して以下の各号のいずれか一に該当する行為を行わないことを確約します。</li>
                <ol class="bracket">
                    <li>暴力的な要求行為</li>
                    <li>法的な責任を超えた不当な要求行為</li>
                    <li>脅迫的な言動をし、又は暴力を用いる行為</li>
                    <li>風説を流布し、偽計を用い又は威力を用いて相手方若しくは第三者の信用を毀損し、又は相手方若しくは第三者の業務を妨害する行為</li>
                    <li>その他前各号に準ずる行為</li>
                </ol>
            </ol>
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第15条 （本サービスの内容の変更及び終了）') ?>
        </div>
        <p class="mx-5">
            当社は、当社の裁量により、本サービスの内容を変更し又は提供を終了することができます。当社は、本サービスの提供を終了する場合には、登録ユーザーにその旨を事前に通知するものとします。<br />
            当社は、本条に基づき当社が行った措置により登録ユーザーに生じた損害等について一切の責任を負いません。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第16条 （保証の不存在及び免責') ?>
        </div>
        <p class="mx-5">
            当社は、本サービスが登録ユーザーの特定の目的に適合すること、期待する機能、商品的価値、正確性若しくは有用性を有すること、登録ユーザーによる本サービスの利用が登録ユーザーに適用のある法令諸規則等に適合すること、本サービスの利用に不具合が生じないこと、又は本サービスで提供される情報が真実若しくは正確であることのいずれについても何ら保証するものではありません。<br />
            当社は、システムやサーバーのダウン、サイバー攻撃、当社による本サービスの提供の中断、停止、終了、利用不能又は変更、投稿データの削除又は消失、登録ユーザーの登録の抹消、本サービスの利用によるデータの喪失又は機器の故障若しくは損傷その他理由の如何を問わず、また、債務不履行又は不法行為その他請求の原因の如何を問わず、本サービスに関連して登録ユーザーが被った損害等について一切の責任を負いません。<br />
            当社は、本サービスに関連して登録ユーザーと他の登録ユーザー又は第三者との間において生じた取引、契約、連絡、交渉、協議、紛争等について一切の責任を負いません。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第17条 （秘密保持等）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、本サービスの利用に関連して取得した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとし、第三者に開示又は漏えいしないものとします。<br />
            当社は、法令諸規則等及び本規約に違反する行為の有無を確認し、本サービスを適正かつ円滑に運営するため、当社の定める方法により、本サービスを通じて行われる登録ユーザー間の通信に当事者として参加して当該通信の内容を閲覧することができるものとします。<br />
            登録ユーザーが、第1項に違反した場合、登録ユーザーは、当社に対し、違約金として金500万円を支払うものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第18条 （利用者情報の取扱い）') ?>
        </div>
        <p class="mx-5">
            当社による登録ユーザーの情報の取扱いについては、別途当社の指定する個人情報保護方針（<a href="https://www.plisma.jp/pages/privacy">https://www.plisma.jp/pages/privacy</a>）によるものとし、登録ユーザーは当社が当該方針に従って登録ユーザーの情報を取り扱うことについて同意したものとします。<br />
            当社は、登録ユーザーが当社に提供した情報、データ等を、個人を特定できない形での統計的な情報として、当社の裁量で利用及び公開することが出来るものとし、ユーザーはこれに異議を唱えないものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第19条 （本規約の変更）') ?>
        </div>
        <p class="mx-5">
            当社は、いつでもその裁量により、本規約を変更できるものとします。当社は、本規約を変更した場合には、登録ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、登録ユーザーが本サービスを利用した場合又は当社の定める期間内に登録抹消の手続を取らなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第20条 （連絡及び通知）') ?>
        </div>
        <p class="mx-5">
            本サービスに関する問い合わせその他登録ユーザーから当社に対する連絡又は通知、及び本規約の変更に関する通知その他当社から登録ユーザーに対する連絡又は通知は、当社の定める方法で行うものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第21条 （利用契約上の地位の譲渡等）') ?>
        </div>
        <p class="mx-5">
            登録ユーザーは、当社の書面による事前の承諾なく、サービス利用契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定その他の処分をすることはできません。<br />
            当社は、本サービスに係る事業を他社に譲渡した場合には、当該事業譲渡に伴い、サービス利用契約上の地位、本規約に基づく権利義務及び登録ユーザーの登録事項その他の情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項においてあらかじめ同意したものとします。なお、本項に定める事業譲渡には、事業譲渡、会社分割その他の事業を移転させるあらゆる行為を含むものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第22条 （分離可能性）') ?>
        </div>
        <p class="mx-5">
            本規約のいずれかの条項又はその一部が、法令諸規則により無効又は執行不能と判断された場合であっても、残りの条項又は残りの部分は、継続して完全に効力を有するものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第23条 （本規約の解釈）') ?>
        </div>
        <p class="mx-5">
            本規約の解釈に疑義が生じた場合には、当社は合理的な範囲でその解釈を決定できるものとします。
        </p>
    </div>

    <div class="content mb-5">
        <div class="contents-semi-label mx-3">
            <?= __('第24条 （準拠法及び管轄裁判所）') ?>
        </div>
        <p class="mx-5">
            本規約及びサービス利用契約の準拠法は日本法とします。<br />
            本規約又はサービス利用契約に起因し又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
        </p>
    </div>

    <div class="text-right">
        2019 年 8 月 1 日制定
    </div>
</div>