/* main colors */
/* accent colors */
/* header - footer */
/* shades - generated using chroma.js - 12 steps */
/* feedback */
/* typography */
/* border */
/* body */
/* forms */
/* buttons */
/* icons */
/* font sizes */
/* spaces */
.search-condition ul {
  display: inline-block;
  vertical-align: top;
}

.search-condition input.checkbox {
  margin: 0.25rem;
  vertical-align: top;
}

.search-condition .category {
  margin: 0.5rem 0;
}

.search-condition .category label {
  padding-left: 0;
}

.search-condition .category-label {
  width: 200px;
}

.search-condition ul li.sub-category {
  display: inline-block;
  width: 33%;
}

.search-condition div.checkbox {
  display: table-cell;
  width: 15%;
}

.search-condition div.checkbox label {
  margin-bottom: 0;
}

.search-condition input {
  margin: 0;
}

.search-condition label[for="search"],
.search-condition label[for="category"],
.search-condition label[for="area"],
.search-condition label[for="employees"],
.search-condition label[for="desired-loan-amount"],
.search-condition label[for="loan-period"],
.search-condition label[for="loan-purpose"] {
  font-size: 0.88rem;
  margin: 1rem 0;
}

.search-condition div.input.select,
.search-condition div.input.text {
  display: inline-block;
}

.search-condition div.tilde {
  margin: 0 1.25rem;
}

.search-condition .label-area {
  background-color: #e8e7e8;
  border: solid 0.1px #d1d0d2;
}

.search-condition .table-row {
  margin: 0 15px;
  border: solid 0.1px #d1d0d2;
  margin-top: -1px;
}

.search-condition .keyword-search .input.text {
  padding: 15px;
  width: 100%;
}

.search-condition input#search {
  width: 80%;
  margin: 0 1.25rem;
}

.search-condition .subheading {
  padding: 15px 0;
}

.search-condition .down-triangle {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-top: 30px solid #2BAAA5;
}

.advanced-setting .input.select {
  width: 15%;
}
