@import "../variables";

.blocker {
  z-index: 1035;
}

.modal {
  box-shadow: 0 0 10px $gray-6;
  max-width: none;
  vertical-align: top;
  top: 5vh;
  height: 85vh;
  width: 90vw;
  overflow: auto;
}

.modal li.sub-category {
  display: inline-block;
  width: 33%;
}

.search-result .subcate-label:before {
  content: " └";
}

.search-result .cate-label,
.search-result .subcate-label,
li.category,
li.sub-category,
.search-result select[name="sort"],
.search-result select[name="area"],
.search-result select[name="employees_min"],
.search-result select[name="employees_max"],
.search-result select[name="desired_loan_amount_min"],
.search-result select[name="desired_loan_amount_max"],
.search-result select[name="loan_period_min"],
.search-result select[name="loan_period_max"] {
  font-size: $font-x-small;
}

.search-result .loan-item {
  word-wrap: break-word;
}

label[for="sort"] {
  margin-right: 10px;
}