@import "../variables";

.search-condition ul {
    display: inline-block;
    vertical-align: top;
}

.search-condition input.checkbox {
    margin: $space-xxs;
    vertical-align: top;
}

.search-condition .category {
    margin: $space-xs 0;
}

.search-condition .category label {
    padding-left: 0;
}

.search-condition .category-label {
    width: 200px;
}

.search-condition ul li.sub-category {
    display: inline-block;
    width: 33%;
}

.search-condition div.checkbox {
    display: table-cell;
    width: 15%;
}

.search-condition div.checkbox label{
    margin-bottom: 0;
}


.search-condition input {
    margin: 0;
}

.search-condition label[for="search"],
.search-condition label[for="category"],
.search-condition label[for="area"],
.search-condition label[for="employees"],
.search-condition label[for="desired-loan-amount"],
.search-condition label[for="loan-period"],
.search-condition label[for="loan-purpose"] {
    font-size: $font-small;
    margin: $space-unit 0;
}

.search-condition div.input.select,
.search-condition div.input.text {
display: inline-block;
}

.search-condition div.tilde {
    margin: 0 $space-md;
}

.search-condition .label-area {
    background-color: $gray-1;
    border: solid 0.1px $gray-2;
}

.search-condition .table-row {
    margin: 0 15px;
    border: solid 0.1px $gray-2;
    margin-top: -1px;
}

.search-condition .keyword-search .input.text {
    padding: 15px;
    width: 100%;
}

.search-condition input#search {
    width: 80%;
    margin: 0 $space-md;
}

.search-condition .subheading {
    padding: 15px 0;
}

.search-condition .down-triangle {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 30px solid $color-primary;
}

.advanced-setting .input.select {
    width: 15%;
}