@import "../variables";

.view-detail table {
    width: 100%;
}

.view-detail th,
.view-detail td  {
    padding: 10px;
    border: 1px solid $gray-2;
    border-bottom: none;
}

.view-detail th  {
    background: #f4f4f4;
    text-align: left;
    border-right: none;
}

.view-detail td.left {
    border-right: none;
}

.view-detail th.bottom,
.view-detail td.bottom {
    border-bottom: 1px solid $gray-2;;
}